config/autoload/local.php
config/autoload/*.local.php
.vagrant/
vendor/
#config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
composer.lock
ubuntu-xenial-16.04-cloudimg-console.log
/nbproject
.idea/
.composer/
data/DoctrineORMModule/Proxy
!data/DoctrineORMModule/Proxy/.gitkeep
composer.phar
.vscode/